.dokuwiki .aside .content p:first-child {
    display: none !important;
}

div.navigation {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

div.navigation h3 {
    padding: 0.5rem;
}

div.navigation li a.active {
    font-weight: bold;
    background-color: #eeeeee !important;
}

div.navigation nav {
    padding-left: 0 !important;
}

div.navigation li {
    list-style-type: none;
    margin-left: 0;
}

div.navigation > nav > li nav {
    padding-left: 0.5rem !important;
}

div.navigation li a {
    display: block;
    padding: 0.3rem;
}

div.navigation li a .text {
    margin-left: 0.3rem;
}

div.navigation li a .icon {
    color: #bbbbbb;
}

div.navigation li a:hover {
    background-color: #eeeeee !important;
    text-decoration: none;
}